CSS
/* Colores */
body {
    background-color: #f7f7f7;
}

#resultados {
    background-color: #fff;
}

/* Tarjetas de personajes */
.tarjeta-personaje {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tarjeta-personaje img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.tarjeta-personaje h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.tarjeta-personaje p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Botones */
#btn-buscar, #btn-limpiar {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#btn-buscar:hover, #btn-limpiar:hover {
    background-color: #ddd;
}
