/* Colores */
body {
  background-color: #93FF33;
}

h1 {
  color: #333;
  font-family: sans-serif;
  font-weight: bold;
}

#nombre-personaje {
  border: 1px solid #ccc;
  padding: 10px;
  width: 50%;
  font-size: 16px;
}

#btn-buscar,
#btn-limpiar {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#btn-buscar:hover,
#btn-limpiar:hover {
  background-color: #444;
}

#resultados {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}

.personaje {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

.imagen-personaje {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.info-personaje {
  font-size: 16px;
}

.nombre-personaje {
  font-weight: bold;
}

.especie,
.estado {
  margin-bottom: 5px;
}
